/*ANA AYARLAR*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    outline:0;
    font-family: 'DM Sans', sans-serif;
}

h1,h2,h3,h4,h5{
    letter-spacing:2px;
}

p{
    line-height:30px;
    font-size:18px;
}

img{
    width:100%;
    border-radius: 0.5rem;
}

:root{
    --lightgrey:#DDD;
    --darkgrey:#b5bab6;
    --black:#222;
    --white:#FFF;
    --red:#db2525;
}

aside{
    background: var(--red);
    color: var(--white);
    text-align:center
}

/*TOP NAV KISMI*/
.topnav{
    position:relative;
    padding:1rem;
}

.topnav h1{
    color:var(--red);
}

.topnav ul{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    right: 1rem;
}

.topnav li{
    display:inline-block;
    margin-left:1.5rem;
}

.topnav a,.topnav a:hover{
    color:var(--black);
    text-decoration:none;
    position: relative;
}

.topnav a:hover::after{
    content:'';
    display:block;
    position:absolute;
    background:var(--red);
    height: 2px;
    animation: effect .5s ease;
    animation-fill-mode: forwards;
}

@keyframes effect{
    0%{
        width:0%;
    }

    100%{
        width:25%;
    }
}

/*HEADER KISMI*/

.headertext h2{
    line-height: 5rem;
    font-weight: 600;
    font-size:3rem;
}

.headercoloredtext{
    color:var(--red);
}

.underlinedtext{
    position:relative;
}

.underlinedtext::after{
    content:'';
    display:block;
    position:absolute;
    width:60%;
    height:2px;
    background: var(--red);
}

.buyukyazi{
    font-size: 32px;
}

.ctawrapper button{
    padding:0.8rem;
    border:0;
    border-radius:0.5rem;
}


.ctawrapper button:first-child{
    background:#ba1616;
    color:var(--white);
    box-shadow:0 2px 2px #ed6161;
    transition-duration:0.5s;
} 

.ctawrapper button:first-child:hover{
    background: var(--red);
}

.ctawrapper button:last-child{
    background:none;
    border:1px solid var(--black);
    margin-left:1rem;
    transition-duration:0.5s;
}

.ctawrapper button:last-child:hover{
    padding: 1rem;
}

/*DİĞER ALT KISIMLAR*/

.renkliyazi{
    background:var(--red);
    color:var(--white);
}

.baslik{
    position: relative;
}

.baslik::after{
    content:'';
    display:block;
    position:absolute;
    width:75%;
    height:2px;
    background: var(--red);
}

/*HİZMETLER*/

.hizmetler{
    padding: 1rem;
}

.hizmeticerik{
    padding: 1rem;
    text-align: center;
    border: 1px solid var(--lightgrey);
}


 .hizmetlayer{
    background:#ed6161;
    width: 150px;
    height: 150px;
    border-radius:50%;
    margin: auto;
    display: flex;
    justify-content:center;
    align-items:center;
}

.hizmetlayericon{
    font-size:2rem;
    color:var(--white);
} 

/*İLETİŞİM*/

#iletisimForm input,textarea{
    width: 100%;
    padding:0.5rem;
    transition-duration: 0.5s;
}




#iletisimForm button{
    width: 150px;
    padding: 0.5rem;
    border: 0;
    background: var(--black);
    color: var(--white);
    border-radius: 0.5rem;
}


footer{
    background: var(--black);
    padding: 1rem;
    color: var(--white);
}

/*MEDİA SORGULARI*/



@media screen and (max-width:768px){
    p{
        font-size: 16px;
    }
}


@media screen and (max-width:576px){
    .headertext h2{
        font-size:26px;
        line-height: 4rem;
    } 


}



@media screen and (max-width:349px){
    .ctawrapper button:last-child{
        margin: 1rem 0 0 0;
    } 
}
